@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@font-face{
    font-family:'digital-clock-font';
    src: url('./digital-7.ttf');
   }
body{
    height: 100hv;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div{
    font-family: 'digital-clock-font';
}
.calculatorBody{
width: 450px;
height: 590px;
background-color: dimgrey;
display: flex;
flex-direction: column;
border-radius: 20px;
align-items: center;
row-gap: 20px;
border:  solid black 1px;

}
h1{
    font-family: 'Alfa Slab One', cursive;
}
.screen{
    display: flex   ;
    flex-direction: column;
    margin-top: 15px;
    width: 420px;
    height: 100px;
    background-color: silver;
    border-radius: 10px;
    border:  solid black 1px;
   

}
.upper{
    display: flex   ;
    align-items: flex-start;
    justify-content: end;
    margin-bottom: 15px;
}
.main-screen{
    display: flex   ;
    align-items: flex-end;
    justify-content: end;
    font-size: 40px;
    text-overflow: ellipsis;
    
    
  
   
}
.btn{
    width: 90px;
    height: 80px;
    background-color: silver;
    font-size: 50px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border:  solid black 1px;
}
.btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap : 20px;
}

.setting .btn {
    width: 180px;
    height: 60px;
    margin-bottom: 15px;
    background-color: #763F3F;

}
